<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">

  <div class="card bg-dark text-white">
    <div class="card-header" th:text="${title}"></div>
    <div class="card-body">
      <table class="table table-dark table-bordered">
          <thead th:if="${!bikes.isEmpty()}">
          <tr class="text-center">
            <th>ID</th>
            <th>Tamaño</th>
            <th>Marca</th>
            <th>Disponibilidad</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody class="text-center" th:if="${bikes.isEmpty()}">
          <h2>
            No hay bicicletas en la lista!
          </h2>
          </tbody>
          <tbody th:if="${!bikes.isEmpty()}">
          <tr th:each="bike: ${bikes}">
            <td th:text="${bike.id}"></td>
            <td th:text="${bike.size}"></td>
            <td th:text="${bike.branch}"></td>
            <td th:text="${bike.availableFlag}"></td>
            <td>
              <a class="btn btn-info btn-sm"
                 th:href="@{/admin/editBike/}+${bike.id}"
              >EDITAR
              </a>
            </td>
            <td>
              <a class="btn btn-danger btn-sm"
                 onclick="return confirm('Está seguro?')"
                   th:href="@{/admin/deleteBike/}+${bike.id}"
              >ELIMINAR
              </a>
            </td>
          </tr>
          </tbody>
      </table>
      <div class="text-center">
        <a class="btn btn-info btn-sm mt-3" th:href="@{/admin/newBike}">Agregar</a>
      </div>
    </div>
  </div>

</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>